<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="NorthwindConnectionString"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;c:\users\asus\documents\visual studio 2015\Projects\Task4\Task4\DB\Northwind.MDF&quot;;Integrated Security=True;Connect Timeout=10"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>